<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oneCode Admin - Table</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
    <style>
        body {
            padding: 10vh 20vw;
        }

        table {
            width: 100%;
        }
    </style>
</head>
<body>
    <a href="/admin">Главная</a>
    <table>
        <tr>
            <th>User ID</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td><a href="/admin/user/{{ row }}">{{ row }}</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>